<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iused">

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/iused_mobile_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">

        <receiver
            android:name="com.iused.utils.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".introduction.Splash"
            android:screenOrientation="portrait"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity android:name=".main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".main.ProductDetailsActivity_Negotiable"
            android:screenOrientation="portrait"/>

        <activity android:name=".main.ProductDetailsActivity_Non_Negotiable"
            android:screenOrientation="portrait"/>

        <activity android:name=".main.SetPriceActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".introduction.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".introduction.RegisterActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".introduction.MobileVerifyActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".main.SoldProductsDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.TermsandConditionsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".fragments.Donate_Product_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.ProductDetailsActivity_Donate"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.DonatedProductsDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.Sell_Products_Activity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.ProfileActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.FAQsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.PrivacyPolicyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.WishlistActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.DonorResponsesDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.FullImageUserActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.OrderedProductsDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".main.UpadteSellProductActivity"
            android:screenOrientation="portrait"/>


        <!-- Firebase Notifications -->
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->



    </application>


</manifest>